<style>
    .delete-btn {
        background: rgb(197, 0, 66);
        color: white;
        border: none;
        font-family: 'Open Sans';
        margin-top: 5px;
    }
</style>
<header class="masthead">
    <div class="bg">
        <div class="site-info-container">
            <div class="site-heading">
                <h1 style="font-size: 2.4rem;">
                    <%= user.firstName %>
                        <%= user.lastName %>
                </h1>
                <span>@<%= user.username %></span>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<section class="container">
    <!-- Divider-->
    <div class="posts-preview">
        <h1 class="heading"><%= user.firstName %>'s Posts</h1>
        <hr class="divider" />
        <!-- Post preview-->
        <% if (userPosts.length===0) { %>
            <p class="post-subtitle">
                Whoops! Looks like there aren't any posts yet!
            </p>
            <% } %>

                <% userPosts.forEach((post)=> { %>
                    <div class="post-preview">
                        <a href="/posts/<%= post.id %>">
                            <h2 class="post-title">
                                <%= post.title %>
                            </h2>

                            <p class="post-meta">
                                Posted on <%= post.createdAt.toLocaleDateString() %>
                                    by <%= post.author %>
                            </p>
                            <h3 class="post-subtitle">
                                <%= post.subtitle %>
                            </h3>
                        </a>

                        <% if (isAuthenticated) { %>
                            <% if (loggedUsername==user.username) { %>
                                <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                                    <input type="submit" value="Delete Post" class="delete-btn">
                                </form>
                                <%}%>
                                    <% } %>

                    </div>
                    <%})%>
                        <hr class="divider" />
    </div>
</section>