<style>
    .delete-btn {
        background: rgb(197, 0, 66);
        color: white;
        border: none;
        font-family: 'Open Sans';
        margin-top: 5px;
    }
</style>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url( <%= post.coverImageSource %> ) ">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <!-- TITLE -->
                            <h1> <%= post.title %> </h1>

                            <!-- SUBTITLE -->
                            <h2 class="subheading"><%= post.subtitle %></h2>
                            <span class="meta">
                                Posted
                                on <%= post.createdAt.toLocaleDateString() %>
                            </span>

                            <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
                                <input type="submit" value="Delete Post" class="delete-btn">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <%- post.bodyHtml %>
                    </div>
                </div>
            </div>
        </article>